@model BugTrackerAM.Models.CodeFirst.Ticket
 

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPriority.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedToUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedToUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<form method="post" action="@Url.Action("CreateComment")">
    <div class="form-group">
        <div class="col-md-10">
            @Html.AntiForgeryToken()
            @Html.Hidden("TicketId", Model.Id)
            @Html.TextArea("Comment", "", new { @class = "form-control", rows = "5", placeholder = "Enter your comment" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" style="border: 4pt ridge lightgrey" value="Create Comment" class="btn btn-default" />
        </div>
    </div>

</form>
</br>
    </br>
    </br>
    </br>
@foreach (var comment in Model.TicketComments)
{
    


    <br /><p>@Html.Raw(comment.Comment)</p>


    <br />
    <td>
        @Html.ActionLink("DeleteComment", "DeleteComment", new { id = comment.Id })
    </td>
        }




        @*   @Html.ActionLink("EditComment", "EditComment", new { id = TicketComments.ID })
            </td>*@



