<!-- Content ----Main W    hite color area-->
<section id="content" class="container">


    @model BugTrackerAM.Models.AdminUserViewModel
    @{
        ViewBag.Title = "EditUser";
    }



    <h2>@ViewBag.Title.</h2>



    @using (Html.BeginForm("EditUser", "Admin", null, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @*<div class="form-horizontal">*@

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.User.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.User.Id)

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">


                @Html.ListBox("SelectedRoles", Model.Roles, new { @class = "form-control" })
                @*@Html.CheckBox("SelectedRoles", Model.Roles, new { @class = "form-control" })*@

                
                
                   

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn" />
            </div>
        </div>




        @*</div>*@
    }

   

    <p>Multiple Selects</p>
    <div class="row">
        <div class="col-md-6">
            <select class="select" multiple>
                <option>Toyota Avalon</option>
                <option>Toyota Crown</option>
                <option>Toyota FT86 </option>
                <option>Lexus LS600</option>
                <option>Lexus LFA</option>
                <option>Lexus LX570</option>
            </select>
        </div>
    </div>


    <div class="col-md-6">
        <select class="select" multiple data-selected-text-format="count>3">
            <option>Toyota Avalon</option>
            <option>Toyota Crown</option>
            <option>Toyota FT86 </option>
            <option>Lexus LS600</option>
            <option>Lexus LFA</option>
            <option>Lexus LX570</option>
        </select>
    </div>
    
</section>

