<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    

    <title>Black Pearl Responsive Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Black Pearl Responsive Admin Template">
    <meta name="keywords" content="Black Pearl, Admin, Template, Bootstrap">
    <meta charset="UTF-8">

    <!-- CSS -->
    <link href="/Template/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/Template/css/calendar.min.css" rel="stylesheet">
    <link href="/Template/css/icomoon.min.css" rel="stylesheet">
    <link href="/Template/css/media-player.min.css" rel="stylesheet">
    <link href="/Template/css/file-manager.min.css" rel="stylesheet">
    <link href="/Template/css/form.min.css" rel="stylesheet">
    <link href="/Template/css/style.min.css" rel="stylesheet">

    <!-- The following CSS codes are used to display the template customization in this page. You can remove these codes anytime -->
    <style type="text/css">
        .template-customize {
            position: fixed;
            bottom: 0;
            right: 35px;
            background: #000;
            background: rgba(0,0,0,0.9);
            width: 154px;
            z-index: 10000;
            border: 2px solid #B6B6B6;
            border-bottom: 0;
            border-radius: 1px;
            box-shadow: 0 0 10px #000;
            height: 0;
        }

            .template-customize i {
                font-size: 30px;
                position: absolute;
                color: #000;
                top: -46px;
                left: 49px;
                padding: 10px 10px 4px 10px;
                border-radius: 100% 100% 0 0;
                background: #fff;
                background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFFFFF),color-stop(1, #B6B6B6));
                background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #B6B6B6 100%);
                background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #B6B6B6 100%);
                background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #B6B6B6 100%);
                background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #B6B6B6 100%);
                background-image: linear-gradient(to bottom, #FFFFFF 0%, #B6B6B6 100%);
            }

                .template-customize i:hover {
                    cursor: pointer;
                    color: #3748d4;
                }

            .template-customize ul {
                list-style: none;
                float: left;
                margin: 10px 0 10px 20px;
                padding: 0;
            }

                .template-customize ul li {
                    width: 45px;
                    height: 30px;
                    overflow: hidden;
                    margin-bottom: 2px;
                }

                    .template-customize ul li:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
    </style>



</head>
<body>
    <!-- Header -->
    <header id="header" class="clearfix">
        <!-- Logo -->
        <a href="index.html" class="logo shadowed">

         
            BUG TRACKER
        </a>
        @Html.ActionLink("Bug Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <div class="dropdown profile-menu shadowed">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <img src="img/profile-pics/profile-pic.png" alt="" class="profile-pic">
            </a>
            <ul class="dropdown-menu pull-right text-right">
                <li><a href="">Update Profile</a></li>
                <li><a href="">Notifications & Updates</a></li>
                <li><a href="">Settings</a></li>
                <li class="divider"></li>
                <li><a href="">Sign-Out</a></li>
            </ul>
        </div>

        <ul class="nav nav-pills pull-right shadowed" id="top-menu">
            <li><a href="#">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="">Action</a></li>
                    <li><a href="">Another action</a></li>
                    <li><a href="">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="">Separated link</a></li>
                </ul>
            </li>
            <li><a href="#">Users</a></li>
        </ul>

        <form class="form-inline top-search shadowed">
            <input type="text" class="form-control" placeholder="Search for anything...">
            <button type="submit"><i class="icon-search"></i></button>
        </form>

        <div class="updates shadowed pull-right">
            <ul class="list-unstyled list-inline">
                
                <li class="dropdown">
                    <a href="" class="notifications ttips" data-toggle="dropdown" title="Notifications" data-placement="bottom">
                        <img src="img/updates.png" alt="">
                    </a>
                    <div class="dropdown-menu">
                        <div class="updates-header">
                            <span class="pull-left">Notifications</span>
                            <span class="pull-right"><a href="">Settings</a></span>
                            <div class="clearfix"></div>
                        </div>

                        
                        <div class="updates-footer">
                            <a href="">See All</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </header>
    

                @*@Html.ActionLink("Bug Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>-->

                    
                    
                    

                    @*<li>@Html.ActionLink("Take a Tour", "Index", "Projects")</li>*@


                    @if (User.IsInRole("Admin"))
                     {
                        @*<li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>*@
                        <li>
                            @*@Html.ActionLink("Admin Dasboard", "", "")*@

                            <ul>

                                @*<li>@Html.ActionLink("User-Roles", "Users", "Admin")</li>*@
                               
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("Project Manager"))
                    {
                        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                        <li>
                            @Html.ActionLink("Project-Manager Dasboard", "", "")
                            <ul>
                                @*<li>@Html.ActionLink("Projects", "SubItemOne", "Home")</li>
                                <li>@Html.ActionLink("Tickets", "SubItemTwo", "Home")</li>
                                <li>@Html.ActionLink("Roles", "Users", "Admin")</li>*@
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("Developer"))
                    {
                        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                        <li>
                            @Html.ActionLink("Developer Dasboard", "", "")
                            <ul>
                                @*<li>@Html.ActionLink("Projects", "SubItemOne", "Home")</li>
                                <li>@Html.ActionLink("Tickets", "SubItemTwo", "Home")</li>
                                <li>@Html.ActionLink("Roles", "Users", "Admin")</li>*@
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("Submitter"))
                    {
                        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                        <li>
                            @Html.ActionLink("Submitter Dasboard", "", "")
                            <ul>
                                @*<li>@Html.ActionLink("Projects", "SubItemOne", "Home")</li>
                                <li>@Html.ActionLink("Tickets", "SubItemTwo", "Home")</li>
                                <li>@Html.ActionLink("Roles", "Users", "Admin")</li>*@
                            </ul>
                        </li>
                    }


                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        
    
    

    <!-- Left Sidebar -->
       
    <section id="main" role="main">

    
    <aside id="leftbar" class="pull-left">
        <div class="sidebar-container">
            <!-- Main Menu -->
            <ul class="side-menu shadowed">
                <li>
                    <a class="active" href="index.html"><i class="icon-home"></i>Dashboard</a>
                </li>
                <li>
                    @*<a href="Projects\index.html"><i class="icon-quill"></i>Typography</a>*@

                <li>@Html.ActionLink("Projects", "Index", "Projects")</li>


                

                        

                </li>
                <li>
                    @*<a href="wall.html"><i class="icon-bubbles-4"></i>Social Wall</a>*@
                <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                </li>
                <li class="submenu">
                    @*<a href=""><i class="icon-cog"></i>Widgets</a>*@
                <li>@Html.ActionLink("User-Roles", "Users", "Admin")</li>
                    <ul>
                        <li><a href="sidebar-widgets.html">Sidebar</a></li>
                        <li><a href="content-widgets.html">Content</a></li>
                        <li><a href="shortcut-widgets.html">Shortcuts</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href=""><i class="icon-table-2"></i>Tables</a>
                    <ul>
                        <li><a href="tables.html">Normal Tables</a></li>
                        <li><a href="data-table.html">Data Table</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href=""><i class="icon-copy-2"></i>Forms</a>
                    <ul>
                        <li><a href="form-elements.html">Basic Form Elements</a></li>
                        <li><a href="form-components.html">Form Components</a></li>
                        <li><a href="form-examples.html">Form Examples</a></li>
                        <li><a href="form-validation.html">Form Validation</a></li>
                        <li><a href="form-wizard.html">Form Wizard</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href=""><i class="icon-glass"></i>User Interface</a>
                    <ul>
                        <li><a href="buttons.html">Buttons</a></li>
                        <li><a href="labels.html">Labels</a></li>
                        <li><a href="images-icons.html">Images & Icons</a></li>
                        <li><a href="alerts.html">Alerts</a></li>
                        <li><a href="media.html">Media</a></li>
                        <li><a href="pagination-breadcrumbs.html">Pagination & Breadcrumbs</a></li>
                        <li><a href="components.html">Components</a></li>
                        <li><a href="other-components.html">Others</a></li>
                    </ul>
                </li>
                <li>
                    <a href="charts.html"><i class="icon-bars"></i>Charts</a>
                </li>
                <li>
                    <a href="file-manager.html"><i class="icon-folder"></i>File Manager</a>
                </li>
                <li>
                    <a href="calendar.html"><i class="icon-calendar"></i>Calendar</a>
                </li>
                <li class="submenu">
                    <a href=""><i class="icon-camera"></i>Photo Gallery</a>
                    <ul>
                        <li><a href="photo-gallery-default.html">Default Gallery</a></li>
                        <li><a href="photo-gallery-sortable.html">Sortable Gallery</a></li>

                    </ul>
                </li>
                <li class="submenu">
                    <a href=""><i class="icon-stack"></i>Sample Pages</a>
                    <ul>
                        <li><a href="list-view.html">List View</a></li>
                        <li><a href="profile-page.html">Profile Page</a></li>
                        <li><a href="messages.html">Messages</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="404.html">404 Error</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <span id="leftbar-toggle" class="visible-xs sidebar-toggle">
            <i class="icon-angle-right"></i>
        </span>
    </aside>

        @*<!-- Right Sidebar -->
        <aside id="rightbar" class="pull-right">
            <div class="sidebar-container">
                <!-- Date + Clock -->
                <div class="clock shadowed">
                    <div id="date"></div>
                    <div id="time">
                        <span id="hours"></span>
                        :
                        <span id="min"></span>
                        :
                        <span id="sec"></span>
                    </div>
                </div>
            </div>


            <!-- Calendar -->
            <div class="shadowed side-calendar">
                <div id="sidebar-calendar"></div>
            </div>
       </aside>
    </section>*@



    

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>

<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

<!-- Template skin customize(you can remove this anytime) -->
<div class="template-customize hidden-xs">
    <i class="icon-cogs" id="tc-toggle"></i>
    <ul data-elem="body">
        <li class="header">Body</li>
        <li><img src="img/body-bg/cloth.png" alt=""></li>
        <li><img src="img/body-bg/stripes.png" alt=""></li>
        <li><img src="img/body-bg/bluetec.png" alt=""></li>
        <li><img src="img/body-bg/cement.png" alt=""></li>
        <li><img src="img/body-bg/fabric.png" alt=""></li>
        <li><img src="img/body-bg/fabric-2.png" alt=""></li>
        <li><img src="img/body-bg/floor.png" alt=""></li>
        <li><img src="img/body-bg/leather.png" alt=""></li>
        <li><img src="img/body-bg/pixel.png" alt=""></li>
        <li><img src="img/body-bg/tactile.png" alt=""></li>
    </ul>
    <ul data-elem="content">
        <li class="header">Content</li>
        <li><img src="img/content-bg/content-bg.jpg" alt=""></li>
        <li><img src="img/content-bg/lines.png" alt=""></li>
        <li><img src="img/content-bg/cloth.png" alt=""></li>
        <li><img src="img/content-bg/grid.png" alt=""></li>
        <li><img src="img/content-bg/gray-leather.png" alt=""></li>
        <li><img src="img/content-bg/jean.png" alt=""></li>
        <li><img src="img/content-bg/light.png" alt=""></li>
        <li><img src="img/content-bg/subtle.png" alt=""></li>
    </ul>
</div>

<!-- Javascipt -->
<script src="/Template/js/jquery-1.10.2.min.js"></script>
<script src='template/js/jquery-ui-1.10.3.min.js'></script>
<script src="/Template/js/chart/highcharts.js"></script>
<script src="/Template/js/chart/modules/exporting.js"></script>
<script src="/Template/js/bootstrap.min.js"></script>
<script src="/Template/js/feeds.js"></script>
<script src="/Template/js/chosen.js"></script>
<script src="/Template/js/shadowbox.js"></script>
<script src="/Template/js/sparkline.min.js"></script>
<script src="/Template/js/masonry.min.js"></script>
<script src="/Template/js/enscroll.min.js"></script>
<script src='template/js/calendar.min.js'></script>
<script src='template/js/datatables.min.js'></script>
<script src='template/js/autosize.min.js'></script>
<script src='template/js/select.min.js'></script>
<script src="/Template/js/toggler.min.js"></script>
<script src="/Template/js/datetimepicker.min.js"></script>
<script src="/Template/js/colorpicker.min.js"></script>
<script src="/Template/js/fileupload.min.js"></script>
<script src="/Template/js/media-player.js"></script>
<script src="/Template/js/validation/validate.min.js"></script>
<script src="/Template/js/validation/validationEngine.min.js"></script>
<script src="/Template/js/functions.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.template-customize ul li').click(function () {
            var getElem = $(this).closest('ul').attr('data-elem');
            var target = (getElem == "body") ? "body, #leftbar, #rightbar" : "#content";

            var src = $(this).find('img').attr('src');
            var bg = 'url(' + src + ')';
            $(target).css('background', bg)
        });

        $('#tc-toggle').click(function () {
            $('.template-customize').css('height', 'auto');
        });

        $(document).mouseup(function (e) {
            var container = $(".template-customize");
            if (container.has(e.target).length === 0) {
                container.height(0);
            }
        });
    });

    // Area Chart
    $(function () {
        $('#areaChart').highcharts({
            chart: {
                type: 'area',
                backgroundColor: 'rgba(255, 255, 255, 0.01)',
                height: 300
            },
            title: {
                text: '',
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                labels: {

                }
            },
            yAxis: {
                title: {
                    text: ''
                },
                labels: {
                    formatter: function () {
                        return this.value / 1000 + 'k';
                    }
                },
                gridLineWidth: 1,
                gridLineColor: '#eaeaea'
            },
            tooltip: {
                pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
            },
            plotOptions: {
                area: {
                    pointStart: 1,
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [{
                name: 'Bing',
                data: [0, 1060, 1605, 2471, 3322,
                     4238, 5221, 6129, 7089, 8339, 9399, 10538, 11643, 13092, 14478,
                     15915, 17385, 19055, 21205, 23044, 25393, 27935, 30062, 32049,
                     33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000, 37000,
                     35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                     21000, 20000, 19000, 18000, 18000, 17000, 16000, 15000, 14000,
                     13000, 12000, 11000, 10000, 9000, 7000, 6000, 4000, 2000, 1000, 0]
            }, {
                name: 'Bing',
                data: [null, null, null, null, null,
                     5, 25, 50, 120, 150, 200, 426, 660, 869, 1060, 1605, 2471, 3322,
                     4238, 5221, 6129, 7089, 8339, 9399, 10538, 11643, 13092, 14478,
                     15915, 17385, 19055, 21205, 23044, 25393, 27935, 30062, 32049,
                     33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000, 37000,
                     35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                     21000, 20000, 19000, 18000, 18000, 17000, 16000]
            }],
            exporting: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            colors: [
                 '#FFA206',
                 '#09AD30',
            ],
            legend: {
                borderRadius: 0,
                borderColor: '#e3e3e3',
                enabled: false
            }
        });
    });

    //Masonry for widgets
    $(window).load(function () {
        $('.m-container').masonry({
            itemSelector: '.masonry'
        });
    });

</script>

</html>
